<h1>Service Practice</h1>
<div style="margin-left: 20px; margin-bottom: 10px;">
    <button (click)="clickAddUser()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Action Item</button>
</div>

<!-- 
<table id="actionitems">
    <tr>
        <th>Action Item ID</th>
        <th>Entity ID</th>
        <th>Entity Name</th>
        <th>Delivery Lead</th>
        <th>Delivery Manager</th>
        <th>Category</th>
        <th>Sub Category</th>
        <th>Action Item Type</th>
        <th>Severity</th>
        <th>Completion Status</th>
        <th>Update Entry</th>

    </tr>
    <tr *ngFor="let actionitem of displayActionItems">
        <td>{{ actionitem.ActionItemID }}</td>
        <td>{{ actionitem.EntityID }}</td>
        <td>{{ actionitem.EntityName }}</td>
        <td>{{ actionitem.DeliveryLead }}</td>
        <td>{{ actionitem.DeliveryManager }}</td>
        <td>{{ actionitem.Category }}</td>
        <td>{{ actionitem.SubCategory }}</td>
        <td>{{ actionitem.ActionItemType }}</td>
        <td>{{ actionitem.Severity }}</td>
        <td>{{ actionitem.CompletionStatus }}</td>

    </tr>
</table> -->

<div class="mat-elevation-z8" class="actionItemTable">

    <table class="actionitemtable" mat-table [dataSource]="dataSource">
        <!-- Action Item ID. -->
        <ng-container matColumnDef="LoggedBy">
            <th mat-header-cell *matHeaderCellDef style="display: none"> LoggedBy </th>
            <td mat-cell *matCellDef="let element" style="display: none"> {{element.LoggedBy}} </td>
        </ng-container>

        <!-- Action Item ID. -->
        <ng-container matColumnDef="ActionItemID">
            <th mat-header-cell *matHeaderCellDef> ACTION ITEM I.D. </th>
            <td mat-cell *matCellDef="let element"> {{element.ActionItemID}} </td>
        </ng-container>

        <!-- Entity ID. -->
        <ng-container matColumnDef="EntityID">
            <th mat-header-cell *matHeaderCellDef> ENTITY I.D. </th>
            <td mat-cell *matCellDef="let element"> {{element.EntityID}} </td>
        </ng-container>

        <!-- Entity Name -->
        <ng-container matColumnDef="EntityName">
            <th mat-header-cell *matHeaderCellDef> ENTITY NAME </th>
            <td mat-cell *matCellDef="let element"> {{element.EntityName}} </td>
        </ng-container>

        <!-- Delivery Lead -->
        <ng-container matColumnDef="DeliveryLead">
            <th mat-header-cell *matHeaderCellDef> DELIVERY LEAD </th>
            <td mat-cell *matCellDef="let element"> {{element.DeliveryLead}} </td>
        </ng-container>

        <!-- Delivery Manager-->
        <ng-container matColumnDef="DeliveryManager">
            <th mat-header-cell *matHeaderCellDef> DELIVERY MANAGER </th>
            <td mat-cell *matCellDef="let element"> {{element.DeliveryManager}} </td>
        </ng-container>


        <!-- Category -->
        <ng-container matColumnDef="Category">
            <th mat-header-cell *matHeaderCellDef> CATEGORY </th>
            <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
        </ng-container>

        <!-- Sub Category -->
        <ng-container matColumnDef="SubCategory">
            <th mat-header-cell *matHeaderCellDef> SUB CATEGORY </th>
            <td mat-cell *matCellDef="let element"> {{element.SubCategory}} </td>
        </ng-container>

        <!--Action Item Type -->
        <ng-container matColumnDef="ActionItemType">
            <th mat-header-cell *matHeaderCellDef> ACTION ITEM TYPE </th>
            <td mat-cell *matCellDef="let element"> {{element.ActionItemType}} </td>
        </ng-container>


        <!-- Severity -->
        <ng-container matColumnDef="Severity">
            <th mat-header-cell *matHeaderCellDef>SEVERITY</th>
            <td mat-cell *matCellDef="let element"> {{element.Severity}} </td>
        </ng-container>

        <!-- Completion Status  -->
        <ng-container matColumnDef="CompletionStatus">
            <th mat-header-cell *matHeaderCellDef>COMPLETION STATUS</th>
            <td mat-cell *matCellDef="let element"> {{element.CompletionStatus}} </td>
        </ng-container>

        <!-- Update Entry  -->
        <ng-container matColumnDef="UpdateEntry">
            <th mat-header-cell *matHeaderCellDef>UPDATE ENTRY</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <mat-icon (click)="onEdit(row)" inline="true">edit</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon (click)="removeActionItem(row)" inline="true">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ACTION ITEMS</h5>
                <button (click)="closeDialog()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <form [formGroup]="formValue" class="newActionItem">
                        <div class="row">
                            <div class="col mb-3">
                                <label for="exampleInputEmail1" class="form-label">ACTION ITEM I.D.</label>
                                <input type="text" formControlName="ActionItemID" class="form-control" name='ActionItemID' aria-describedby="emailHelp" autocomplete="off">

                            </div>
                            <div class="col mb-3">
                                <label for="exampleInputEmail1" class="form-label">ENTITY I.D.</label>
                                <input type="text" formControlName="EntityID" class="form-control" name='EntityID' aria-describedby="emailHelp" autocomplete="off">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="exampleInputPassword1" class="form-label">ENTITY NAME</label>
                                <input type="text" formControlName="EntityName" class="form-control" name='EntityName' autocomplete="off">
                            </div>
                            <div class="col mb-3">
                                <label for="exampleInputPassword1" class="form-label">DELIVERY LEAD</label>
                                <input type="email" formControlName="DeliveryLead" class="form-control" name='DeliveryLead' autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="exampleInputPassword1" class="form-label">DELIVERY MANAGER</label>
                                <input type="text" formControlName="DeliveryManager" class="form-control " name='DeliveryManager' autocomplete="off">
                            </div>
                            <div class="col mb-3">
                                <label for="exampleInputPassword1" class="form-label">CATEGORY</label>
                                <input type="text" formControlName="Category" class="form-control" name='Category' autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="exampleInputPassword1" class="form-label">SUB CATEGORY</label>
                                <input type="text" formControlName="SubCategory" class="form-control" name='SubCategory' autocomplete="off">
                            </div>
                            <div class="col mb-3">
                                <label for="exampleInputPassword1" class="form-label">ACTION ITEM TYPE</label>
                                <input type="text" formControlName="ActionItemType" class="form-control" name='ActionItemType' autocomplete="off">
                            </div>
                        </div>
                        <div class="row">

                            <div class="col mb-3">
                                <label for="exampleInputPassword1" class="form-label">SEVERITY</label>
                                <input type="text" formControlName="Severity" class="form-control " name='Severity' autocomplete="off">
                            </div>
                            <div class="col mb-3">
                                <label for="exampleInputPassword1" class="form-label">COMPLETION STATUS</label>
                                <input type="text" formControlName="CompletionStatus" class="form-control" name='CompletionStatus' autocomplete="off">
                            </div>
                        </div>

                    </form>
                    <div class="modal-footer">
                        <button (click)="closeDialog()" type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button (click)="onSubmit(formValue)" *ngIf="showAdd" class="btn btn-primary">Add</button>
                        <button (click)="onUpdate()" *ngIf="showUpdate" type="button" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>